.nav {
    display: flex;
    flex-direction: row;
    
  }
  
  input{
    margin-top: 2.5em;
    height: 2em;
    background-color: rgb(173, 228, 90);
    color: whitesmoke;
  }
    
  button{
    margin-top: 2.5em;
    border: hidden;
    background-color: rgb(173, 255, 47);
  }
    